.customButtonClass {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.formContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.errorText {
  font-size: 12px;
  color: red;
  margin: 0;
}
